<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Disqus Like Sign-in form [ updated]</title>
    
    
    
    
        <link rel="stylesheet" href="static/style.css">

    
    
    
  </head>

  <body>

    <body class="profile-login">
<header class="global-header">
<div>
<nav class="global-nav">
<a class="logo">
<img src="static/images.jpg">
</a>

</nav>
</div>
</header>
<section class="login">
<form id="login-form" accept-charset="utf-8" method="post" action="/">
<h1>登录</h1>
<input type="text" value="" placeholder="邮箱" tabindex="20" name="username">
  <div class="password-container">
<input type="password" placeholder="密码" tabindex="21" name="password">
<span>
(
<a href="#">忘记密码</a>
)
</span>
</div>
<button class="button submit" data-analytics="sign-in" type="submit">登录</button>
    <span class="create-account">
</span>
</form>
</section>
    
    
    
    
    
  </body>
</html>
